########################
# use glob syntax.
########################

syntax: glob

*.pyc
*~
*.egg-info
*.pot
*.idea*
*.*~
*.orig
*.db
__pycache__
docs/_build/
tests/coverage_html/
tests/.coverage
logs/
media/
static/
.DS_Store
.project
.pydevproject
.settings
._.DS_Store
*.sass-cache/
pids
xapian_index
# settings_local*

##########################
# switch to regexp syntax.
##########################

syntax: regexp

^static/
.tmp_
packages/
^fixtures/*
^fixture/*
venv/
env/
^tags
whoosh_index
.directory