########################
# use glob syntax.
########################

syntax: glob

*.pyc
*~
*.egg-info
*.pot
*.idea*
*.*~
*.orig
*.db
__pycache__
docs/_build/
tests/coverage_html/
tests/.coverage
logs/
media/
.DS_Store
.project
.pydevproject
.settings
._.DS_Store
*.sass-cache/
pids
xapian_index
env
components
# settings_local*

##########################
# switch to regexp syntax.
##########################

syntax: regexp

^static/
.tmp_
packages/
^fixtures/*
^fixture/*
^tags
whoosh_index
.directory
static